/* Header */
.textHeader {

}
.searcher {
float: right;
}
#searchthis #search-btn {
	display:none;
}
#searchthis #search-box{
background: transparent;
border:none;
color: #000;
border: 1px solid #D3D1D1;
height:34px;
float: center;
width:212px;
font: normal normal 10px 'Arial', ans-serif;
letter-spacing: 1px;
text-align:center;
}


/* Important Movie */
h1 {
	color: #d3d3d3;
	font-family: Arial;
	font-size: 30px
}
.bigMovieImg {
	height: 500px;
	overflow: hidden;
}
.textMovie {
		background-color: #383838;
		padding-top: 50px;
		padding-bottom: 73.3%;
		padding-right: 30px;
}
.textMovie {
	color: #d3d3d3;
}
.microText {
	border: 1px solid #3bcf68;
	border-radius: 20%; 
	padding: 10px 10px 10px 10px;
}
.buttom1 {
	background-color: #dfb636;
	width: 100px ;
	height: 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid red;
}
.buttom2 {
	background-color: #bb7b29;
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}

/* Gallery Movie */
.galleryMovie {
	background-color: #dfb636;
	margin: -4px 0 0 0;
}
.imageGallery1 {
	width: 100%;
	height: 250px;
	margin: 20px 0 20px 0;
}

/* Trailer */
.video {
	width: 100%; 
	height: 315px; 
}

/* Ticket and News */
.ticket-news {
	margin: 50px 0 50px 0;
}
.ticket {
	float: 
}
.linkNews {
	text-decoration: none;
	color: #bb7b29;
	font-weight: bold;
	margin-top: 30px; 
}
/*  Second Gallery Movie */
.secondGallery {
	margin: 30px 0 50px 0;
}
.imageGallery2 {
	width: 100%;
	height: 350px;
}

/* Footer */
.disclaimer {
	background-color: #f3f3f3;
	margin: 30px 0 50px 0;
	padding-bottom: 50px;
}
.containerDisclaimer {
	top: 20px;
}
.textDisclaimer {
	bottom: 20px;
}
.creator {
	margin: 30px 0 30px 0;
}
ul {
	padding-bottom: 50px;
}
.listDisclaimer {
	list-style: none;
}
.linkDisclaimer {
	text-decoration: none;
}